<h1>Currency Converter</h1>
<form action = "/convert">
    <label for="dollars">Amount of currency</label>
    <input type="number" step="any" name="currency_amount" id="currency_amount" required/>
    <br>
    <label for="from_currency">Convert From</label>
    <select name="from_currency" id="from_currency">
        <option value="USD">US Dollars</option>
        <option value="EUR">Euros</option>
        <option value="JPY">Japanese Yen</option>
    </select>
    <label for="to_currency">Convert to</label>
    <select name = "to_currency" id = "to_currency">
        <option value="USD">US Dollars</option>
        <option value="EUR">Euros</option>
        <option value="JPY">Japanese Yen</option>
    </select>

    <br>
    <button type="submit">Convert</button>
</form>

