<!DOCTYPE html>
<html>
  <head>
    <title>Currency Site</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  <hr>
    <p><a href = "/about">About Page</a></p>
  <p><a href="/">Home</ahref></p>
  </body>
</html>
